@using imsWeb.Models;
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product list";
}

<head>
    <link rel="stylesheet" href="~/css/products.css" asp-append-version="true" />
</head>
<body>
    

<h1>welcome</h1>

@if (Model != null && Model.Any())
{
    <div class="card-container">
        @foreach (var product in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                </div>
                <div class="card-footer">
                    <span class="price">$@product.Price</span>
                        <button class="basket-button"> Add to Basket</button>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No products available.</p>
}
</body>